.slider {
  width: 100%;
  height: 400px;
  margin-bottom: 5rem;
  position: relative;
  overflow: hidden;
}

.slide {
  width: 40%;
  height: 400px;
  position: absolute;
  transition: all 0.7s;
  margin-left: 30rem;
  padding-right: 2rem;
  display: flex;
  justify-content: center;
}
.slide p {
  text-align: start;
}

.btn {
  position: absolute;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  z-index: 10px;
  cursor: pointer;
  font-size: 30px;
  background-color: transparent;
}
.btn:hover {
  background-color: #003566;
  color: white;
}

.btn:active {
  transform: scale(1.1);
}
.btn-prev {
  top: 45%;
  left: 0.1%;
  padding-left: 3px;
}

.btn-next {
  top: 45%;
  right: 0.1%;
  padding-right: 3px;
}

@media only screen and (max-width: 1200px) {
}

@media only screen and (max-width: 1024px) {
  .slider {
    height: 29rem;
  }

  .slide {
    width: 90%;
    height: 100%;
    margin-left: 4.4rem;
    padding-right: 2rem;
  }
  .slide h3 {
    font-size: 1.1rem;
    padding: 0 0 0.3rem 0;
    text-align: center;
  }

  .slide h4 {
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 768px) {
  .slider {
    height: 29rem;
  }

  .slide {
    width: 90%;
    height: 100%;
    margin-left: 3.5rem;
    padding-right: 2rem;
  }
  .slide h3 {
    font-size: 1.1rem;
    padding: 0 0 0.3rem 0;
    text-align: center;
  }

  .slide h4 {
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 480px) {
  .slider {
    height: 30rem;
  }

  .slide {
    width: 90%;
    height: 100%;
    margin-left: 2.4rem;
    padding-right: 2rem;
  }
  .slide h3 {
    font-size: 1.1rem;
    padding: 0 0 0.3rem 0;
    text-align: center;
  }

  .slide h4 {
    font-size: 0.8rem;
  }
}
