/* COLORS */
:root {
  --bodyGrey: #393838;
  --subtitleGrey: #4a4a4a;
  --goldWebGolden: #ffd60a;
  --mikadoYellow: #ffc300;
  --prussianBlue: #1a51b7;
  --oxfordBlue: #001d3d;
  --rust: #a63c06;
}

/* STYLE RULES */

html {
  scroll-behavior: smooth;
}

body {
  max-width: 100%;
}

h1 {
  color: var(--prussianBlue);
  font-family: "Futura", Arial, Helvetica, sans-serif;
  font-size: 2.5rem;
}
/* h2 {
  color: var(--bodyGrey);
  font-family: "Futura", Arial, Helvetica, sans-serif;
  font-size: 30px;
} */

h3 {
  color: var(--rust);
  font-family: "Arial Black", Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
}

h4 {
  color: var(--rust);
  font-family: Verdana, "Geneva", Tahoma, sans-serif;
  font-size: 1rem;
}

h5 {
  color: var(--subtitleGrey);
  font-family: Verdana, "Geneva", Tahoma, sans-serif;
  font-style: italic;
  font-size: 0.75rem;
  margin: 0;
}

p {
  font-family: Verdana, "Geneva", Tahoma, sans-serif;
  font-size: 0.72rem;
  color: var(--bodyGrey);
  text-align: start;
  margin: 0;
  line-height: 1.25rem;
}

.text-md {
  font-family: Verdana, "Geneva", Tahoma, sans-serif;
  font-size: 0.87rem;
  font-style: italic;
  text-align: justify;
  margin: 0;
  line-height: 1.25rem;
}
/* HEADER */

header {
  height: 6rem;
}

#siteName {
  color: var(--mikadoYellow);
  margin-left: 1.2rem;
  margin-right: 1.2rem;
}

.homeLink {
  text-decoration: none;
  color: var(--mikadoYellow);
}

a.homeLink:visited {
  color: var(--mikadoYellow);
}

#job {
  font-family: "Futura", Arial, Helvetica, sans-serif;
  color: var(--prussianBlue);
  font-size: 0.75rem;
}

#headerTop {
  width: 100%;
  position: static;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: -2.6rem;
}

#headerBottom {
  display: flex;
  width: 100%;
  align-items: center;
}

/* NAV MENU */

#menu {
  display: inline-flex;
  justify-content: space-between;
  margin-right: 1.3rem;
  padding-top: 0.5rem;
}

ul {
  list-style: none;
  color: var(--prussianBlue);
  font-family: Verdana, "Geneva", Tahoma, sans-serif;
}

li {
  padding: 1.3rem;
}
a.menuLink:link {
  color: var(--prussianBlue);
  text-decoration: none;
}

a.menuLink:visited {
  color: var(--prussianBlue);
}

a.menuLink:hover {
  color: #a63c06;
}

.active {
  color: #a63c06;
}

/* VISUAL ELEMENTS */

hr {
  border: #001d3d 0.5px solid;
}

#leftLine {
  width: 7%;
  height: 0;
  margin-left: 1.2rem;
  overflow: hidden;
}

#rightLine {
  width: 76%;
  height: 0;
  margin-right: 2.3rem;
  overflow: hidden;
}

/* INTRO */

#homeOpener {
  display: flex;
  padding-top: 3rem;
  padding-bottom: 2rem;
}

#julia {
  object-fit: cover;
  width: 18rem;
  height: 19rem;
  -webkit-border-radius: 70px;
  -moz-border-radius: 70px;
  border-radius: 70px;
  margin-left: 4rem;
}

#aboutIntro {
  text-align: justify;
  width: 40rem;
  height: 15rem;
  padding-left: 5rem;
  padding-top: 2.3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

/* VISUAL PROJECTS */

img {
  object-fit: fill;
  width: 90rem;
  height: 18rem;
  margin-right: 3rem;
}

.video {
  /* object-fit: cover; */
  width: 57rem;
  height: 18rem;
  padding: 2rem 0 3rem 3rem;
  margin-right: 3rem;
}

iframe {
  width: 100% !important;
  height: 100% !important;
}

.visualPackage {
  display: flex;
  align-items: center;
  margin-bottom: 4rem;
  position: relative;
}

.slide {
  display: flex;
  justify-content: center;
  margin: 0;
  height: 100%;
  & .textBox {
    margin: auto;
    /* width: 50rem; */
  }
}
.textBox {
  display: flex;
  flex-direction: column;
  margin-left: 3rem;
  padding-right: 3rem;
  margin-bottom: 3rem;
}

.projectTitle {
  margin: 0;
}

.role {
  margin: 0;
}

/* FAVORITE STORIES */

.storyIntro {
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
  padding-right: 2rem;
  width: 25%;
  max-width: 100%;
}

#introDiv {
  display: flex;
  justify-content: space-around;
}

.header1 {
  display: flex;
  justify-content: center;
  padding-bottom: 5rem;
  margin: 0;
}

#cvDiv {
  display: flex;
  justify-content: center;
  margin-bottom: 4rem;
}
/* LARGE BUTTON */

.button {
  position: relative;
  overflow: hidden;
  border: 1px solid #003566;
  color: #003566;
  display: inline-block;
  font-size: 13px;
  line-height: 15px;
  padding: 18px 18px 17px;
  text-decoration: none;
  cursor: pointer;
  background: #fff;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  height: 50px;
  width: 130px;
  margin-top: 2rem;
  font-family: Verdana, "Geneva", Tahoma, sans-serif;
}

.cvButton {
  border: 1px solid #a63c06;
  color: #fff;
  display: inline-block;
  font-size: 1rem;
  line-height: 15px;
  padding-top: 1.8rem;
  text-decoration: none;
  cursor: pointer;
  background: #a63c06;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  height: 3rem;
  width: 15rem;
  font-family: Verdana, "Geneva", Tahoma, sans-serif;
  text-align: center;
}

.button span:first-child {
  position: relative;
  transition: color 600ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 10;
}

.button span:last-child {
  color: white;
  display: block;
  position: absolute;
  bottom: 0;
  transition: all 500ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 100;
  opacity: 0;
  top: 70%;
  left: 50%;
  transform: translateY(225%) translateX(-50%);
  height: 14px;
  line-height: 13px;
}

.button:after {
  content: "";
  position: absolute;
  bottom: -50%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #001d3d;
  transform-origin: bottom center;
  transition: transform 600ms cubic-bezier(0.48, 0, 0.12, 1);
  transform: skewY(9.3deg) scaleY(0);
  z-index: 50;
}

.button:hover:after {
  transform-origin: bottom center;
  transform: skewY(9.3deg) scaleY(2);
}

.button:hover span:last-child {
  transform: translateX(-50%) translateY(-100%);
  opacity: 1;
  transition: all 900ms cubic-bezier(0.48, 0, 0.12, 1);
}

/* BACK TO TOP BUTTON */
.back-to-top {
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  border-radius: 100%;
  background: var(--prussianBlue);
  padding: 1rem;
  border: none;
  cursor: pointer;
  opacity: 80%;
  transition: opacity 0.5s;
}

.hidden {
  opacity: 0%;
}

.back-to-top-icon {
  width: 1.2rem;
  height: 1.2rem;
  color: white;
}

.back-to-top:hover {
  opacity: 100%;
  border: none;
}

/* FOOTER */

footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

#footerLine {
  margin-top: 2rem;
}

#socials {
  display: flex;
  padding-right: 3rem;
}

.socialIcon {
  list-style: none;
  padding: 0;
  margin-left: -2rem;
}

.logo {
  width: 1.5rem;
  height: 1.5rem;
  object-fit: fill;
  border-radius: 30%;
  padding: 0;
}

#credit {
  padding-left: 8rem;
}

/* Contact form */

div.elem-group {
  margin: 40px 0;
}

label {
  display: block;
  padding-bottom: 1rem;
  font-family: Verdana, "Geneva", Tahoma, sans-serif;
  font-size: 0.8rem;
  color: var(--bodyGrey);
  text-align: justify;
  margin: 0;
  line-height: 1.25rem;
}

input,
select,
textarea {
  border-radius: 0.2rem;
  border: 1px solid #ccc;
  box-sizing: border-box;
  width: 50rem;
  padding: 1rem;
  align-content: start;
  margin-bottom: 2rem;
  font-family: Verdana, "Geneva", Tahoma, sans-serif;
}

textarea {
  height: 10rem;
}

.form-parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

iframe {
  width: auto;
  height: auto;
}

@media only screen and (max-width: 1200px) {
  #aboutIntro {
    width: 40rem;
    height: 15rem;
    margin-right: 2rem;
  }
  #leftLine {
    width: 6%;
    margin-left: 1.2rem;
  }

  #rightLine {
    width: 74%;
    margin-right: 2.3rem;
  }
  img {
    width: 25rem;
    height: auto;
    padding: 0;
  }
  .video {
    width: 65rem;
    height: 15rem;
    padding: 0;
  }
}

@media only screen and (max-width: 1024px) {
  header {
    height: 9rem;
  }
  #headerTop {
    margin-bottom: -2rem;
  }
  #leftLine {
    width: 5%;
    margin-left: 1.2rem;
  }

  #rightLine {
    width: 69%;
    margin-right: 1.7rem;
  }
  h1 {
    font-size: 2.5rem;
  }
  ul {
    font-size: 0.9rem;
  }
  li {
    padding: 0.5rem;
  }
  #aboutIntro {
    padding-left: 1.5rem;
  }
  .visualPackage {
    flex-direction: column-reverse;
    margin-bottom: 1rem;
  }
  .header1 {
    padding-bottom: 2rem;
    padding-top: 3rem;
  }
  img {
    width: 35rem;
    margin: auto;
  }
  .projectTitle {
    margin: auto;
    padding-top: 1rem;
  }
  .role,
  h5 {
    margin: auto;
  }
  .button {
    margin-inline: auto;
    margin-top: 2rem;
  }
  .video {
    width: 36rem;
    height: 20rem;
    padding: 0;
    margin: auto;
  }
  input,
  select,
  textarea {
    width: 40rem;
  }
  .socialIcon {
    margin-left: -4rem;
  }
  #socials {
    padding-right: 5rem;
    margin-left: 7rem;
  }
}

@media only screen and (max-width: 768px) {
  h1 {
    font-size: 1.8rem;
  }
  #menu {
    margin-right: -0.3rem;
    padding-top: 1.5rem;
    display: inline-flex;
    justify-content: space-around;
    flex-wrap: nowrap;
  }
  #job {
    font-size: 0.65rem;
  }
  #leftLine {
    width: 6%;
  }

  #rightLine {
    width: 74%;
    margin-right: 0.2rem;
  }
  #julia {
    width: 15rem;
    height: 15rem;
    margin: auto;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    margin-top: 1rem;
  }
  #homeOpener {
    padding: 0;
    flex-direction: column-reverse;
  }
  #aboutIntro {
    width: 32rem;
    height: 17rem;
    margin-bottom: 2rem;
    padding-top: 0.5rem;
    margin: auto;
    padding-left: 0;
  }
  #siteName {
    margin-left: 2rem;
  }
  ul {
    font-size: 0.8rem;
  }
  #headerTop {
    margin-bottom: -1.5rem;
  }
  .video {
    width: 34rem;
    height: 18rem;
  }
  #previous {
    padding: 0;
  }
  img {
    width: 33rem;
  }
  input,
  select,
  textarea {
    width: 24rem;
  }
  #credit {
    padding-left: 0;
    margin-top: 1rem;
  }
  #socials {
    padding-right: 0;
    justify-content: center;
    margin: 0.5rem 0 1rem 0;
  }
  footer {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
  }
}

@media only screen and (max-width: 480px) {
  #menu {
    display: none;
  }
  #headerTop {
    justify-content: center;
  }
  #leftLine {
    width: 30%;
    margin-left: 0.5rem;
  }

  #rightLine {
    width: 30%;
    margin-right: 0.5rem;
  }
  #aboutIntro {
    width: 90%;
  }
  #julia {
    margin-top: 4rem;
    padding: 0;
  }
  img {
    width: 90%;
  }
  h3 {
    text-align: center;
  }
  p {
    padding: 0.3rem;
  }
  .video {
    width: 90%;
    height: 13rem;
  }
  input,
  select,
  textarea {
    width: 90%;
  }
  h1 {
    font-size: 2rem;
  }
  header {
    height: 10rem;
  }
}
